@model IEnumerable<AcademyTask.Models.FriendsViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="table">
         <div class="table-header">
            <div class="table-cell">
                User info
            </div>
            <div class="table-cell">
                Add friend
            </div>
         </div>
        </div>
        @foreach (var item in ViewBag.Users)
        {

            if (item.Id.ToString() != ViewBag.CurrentUserId)
            {
                <div class="table-row" id="@item.Id">
                        <div class="table-cell">
                            <div id="Name"><font size="4"><b>@item.LastName @item.FirstName</b></font><br /></div>
                            <div id="Email"><font size="4">@item.Email</font></div>
                        </div>
                        <div class="table-cell">
                            <input type="button" class="btn btn-default" id="AddFriendbtn_@item.Id" value="Subscribe" onclick="Click(this.id, this.value)" />
                            
                           
                            <div id="result"></div>
                        </div>
                </div>
            }
        }
</div>
@section Scripts
{
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive.ajax.imn.js")
<script type="text/javascript">
                                function Click(id, value)
                                {
                                    var button = $(this);
                                    var _id = id.replace("AddFriendbtn_", "");
                                    var _value = value.replace(" ", "");
                                    switch(_value)
                                    {
                                        case 'AddFriend':
                                            $.ajax({                                    //тут звернутись через jQuery||AJAX POST запит до методу контролера
                                                url: "/Home/AddFriend",
                                                datatype: "text",
                                                data: { 'second_user_id': _id },
                                                type: "POST",
                                                success: function (data) {
                                                    alert(data);
                                                    button.val = ('Remove Friend');
                                                    return data;
                                                },
                                                error: function () {
                                                    alert("ERROR");
                                                }
                                            });
                                            break;
                                        case 'RemoveFriend':
                                            $.ajax({                                    //тут звернутись через jQuery||AJAX POST запит до методу контролера
                                                url: "/Home/RemoveFriend",
                                                datatype: "text",
                                                data: { 'second_user_id': _id },
                                                type: "POST",
                                                success: function (data) {
                                                    alert(data);
                                                    button.val = ('Add Friend');
                                                    return data;
                                                },
                                                error: function () {
                                                    alert("ERROR");
                                                }
                                            });
                                            break;
                                        case 'Subscribe':
                                            $.ajax({                                    //тут звернутись через jQuery||AJAX POST запит до методу контролера
                                                url: "/Home/Subscribe",
                                                datatype: "text",
                                                data: { 'second_user_id': _id },
                                                type: "POST",
                                                success: function (data) {
                                                    alert(data);
                                                    button.val = ('Unsubscribe');
                                                    return data;
                                                },
                                                error: function () {
                                                    alert("ERROR");
                                                }
                                            });
                                            break;
                                        case 'Unsubscribe':
                                            $.ajax({                                    //тут звернутись через jQuery||AJAX POST запит до методу контролера
                                                url: "/Home/UnSubscribe",
                                                datatype: "text",
                                                data: { 'second_user_id': _id },
                                                type: "POST",
                                                success: function (data) {
                                                    alert(data);
                                                    button.val = ('Subscribe');
                                                    return data;
                                                },
                                                error: function () {
                                                    alert("ERROR");
                                                }
                                            });
                                            break;
                                    };
                                }
</script>

}